/* Your styles here! */
h1 {
    color: black;
    font-family: Ariel;
    font-size: 100%
  }

  p {
    color: black;
    font-family: Times 'Times New Roman', Times, serif;
    font-size: 100%;
  }
  a:hover {
    color: blue;
    background-color: #cfc;
  }